@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&family=Josefin+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

section.bhromaon {
  max-width: 100%;
  min-height: 740px;
  background: url(../img/image_firstblock.png) center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bhromaon__title {
  margin-top: 265px;
  font-family: Josefin Sans;
  font-size: 48px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.bhromaon__subtitle {
  margin-top: 15px;
  font-family: Josefin Sans;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.31em;
  color: #ffffff;
}

.bhromaon__search {
  margin-top: 49px;
  width: 700px;
  height: 60px;
}

input.bhromaon__search {
  width: 500px;
  height: 60px;
  background-color: #ffffff;
  font-family: Josefin Sans;
  font-size: 14px;
  line-height: 46px;
  font-weight: 400;
  letter-spacing: 0.2em;
  color: #999999;
  text-align: center;
  border: none;
}

button.search {
  width: 150px;
  height: 60px;
  border: 2px solid #ffffff;
  font-family: Aleo;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #5474FD;
  cursor: pointer;
}

.bhromaon__scroll {
  margin-top: 120px;
  font-family: Josefin Sans;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.2em;
  color: #ffffff;
  cursor: pointer;
}

.bhromaon__scrollapp {
  margin-top: 14px;
  width: 15px;
  height: 8px;
  cursor: pointer;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #5474fd;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__title {
  display: flex;
  flex-direction: row;
  font-family: Josefin Sans;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-left: 20%;
}

.nav__toolbar {
  margin-left: 23%;
  font-family: Aleo;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  width: 60%;
  cursor: pointer;
}

li {
  list-style-type: none;
  display: inline-block;
  margin-left: 5%;
}

section.WhyChooseUs {
  max-width: 100%;
  min-height: 685px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: url(../img/blocksecond_bg.png) center no-repeat;
  background-size: cover;
  padding: 0 20%;
}

.WhyChooseUs__decsr {
  width: 550px;
  height: 440px;
}
.WhyChooseUs__decsr__title {
  margin-top: 204px;
  font-family: Aleo;
  font-size: 36px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}
.WhyChooseUs__decsr__subtitle {
  margin-top: 62px;
  font-family: Josefin Sans;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #e8e8e8;
}

button.WhyChooseUs {
  margin-top: 47px;
  width: 225px;
  height: 60px;
  background-color: #5474fd;
  font-family: Aleo;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  color: #ffffff;
  cursor: pointer;
}

.WhyChooseUs__pictureplace {
  margin-top: 120px;
  width: 490px;
  height: 470px;
}
.WhyChooseUs__pictureplace img {
  padding: 2px;
}

.smallpicture {
  margin-left: 125px;
}

section.manual {
  max-width: 100%;
  min-height: 337px;
  background: #333333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20%;
}

.manual__icon {
  margin-top: 79px;
  width: 215px;
  height: 139px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.manual__icon__picture {
  width: 58px;
  height: 57px;
}

.manual__icon__decr {
  font-family: Aleo;
  font-size: 35px;
  line-height: 26px;
  font-weight: 400;
  color: #e8e8e8;
}

section.spain {
  max-width: 100%;
  min-height: 700px;
  background: url(../img/fourblock_bg.png) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 228px;
}

.spain__main {
  width: 540px;
  height: 371px;
  background-color: #232323;
  opacity: 0.9;
  padding: 2% 1%;
  box-sizing: border-box;
  margin: 0 20%;
}
.spain__main__title {
  font-family: Josefin Sans;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.075em;
  color: #e8e8e8;
}
.spain__main__location {
  margin-top: 30px;
  font-family: Josefin Sans;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
.spain__main__text {
  margin-top: 30px;
  font-family: Josefin Sans;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #e8e8e8;
}

button.spain {
  margin-top: 47px;
  width: 225px;
  height: 60px;
  background-color: #496bfe;
  font-family: Aleo;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  color: #ffffff;
  cursor: pointer;
}

section.anotherspain {
  max-width: 100%;
  min-height: 700px;
  background: url(../img/fiveblock_bg.png) center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 228px;
}

.anotherspain__block {
  margin: 0 50%;
  width: 540px;
  height: 371px;
  opacity: 0.9;
  background-color: #232323;
  padding: 2% 1%;
  box-sizing: border-box;
}
.anotherspain__block__title {
  font-family: Josefin Sans;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.075em;
  color: #e8e8e8;
}
.anotherspain__block__location {
  margin-top: 30px;
  font-family: Josefin Sans;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
.anotherspain__block__text {
  margin-top: 30px;
  font-family: Josefin Sans;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #e8e8e8;
}

button.anotherspain {
  margin-top: 47px;
  width: 225px;
  height: 60px;
  background-color: #496bfe;
  font-family: Aleo;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  color: #ffffff;
  cursor: pointer;
}

section.TouristSay {
  max-width: 100%;
  min-height: 731px;
  background: url(../img/sixblock_bg.png) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.TouristSay__title {
  margin-top: 120px;
  font-family: Aleo;
  font-size: 36px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}

.TouristSay__decr {
  margin-top: 94px;
  width: 1111px;
  height: 285px;
  display: flex;
  flex-direction: row;
}
.TouristSay__decr__picture {
  background: url(../img/sixblock_small1.png) center no-repeat;
  background-size: cover;
  width: 444px;
  height: 284px;
}
.TouristSay__decr__text {
  width: 664px;
  height: 284px;
  background-color: #333333;
  padding: 4% 5%;
  box-sizing: border-box;
}
.TouristSay__decr__text__title {
  font-family: Josefin Sans;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fefefe;
}
.TouristSay__decr__text__subtitle {
  margin-top: 35px;
  font-family: Josefin Sans;
  font-size: 15px;
  color: #e8e8e8;
  font-weight: 400;
  line-height: 2;
}

quotes {
  font-family: Aleo;
  font-size: 45px;
  line-height: 26px;
  font-weight: 400;
  color: #5474fd;
}

footer {
  max-width: 100%;
  min-height: 268px;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__main__title {
  margin-top: 120px;
  font-family: Josefin Sans;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  color: #ffffff;
}
.footer__main__text {
  margin-top: 15px;
  font-family: Josefin Sans;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.footer__main__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 31px;
  margin-bottom: 54px;
  height: 20px;
  width: 170px;
  cursor: pointer;
}

button:hover {
  background: yellow;
  color: black;
}

input.bhromaon__search:focus {
  background: #5474FD;
  color: black;
  font-size: 20px;
}

@media (max-width: 1200px) {
  section.WhyChooseUs {
    padding: 0 10%;
  }
}
@media (max-width: 992px) {
  .nav__toolbar {
    margin-left: 10%;
  }

  .nav__title {
    margin-left: 10%;
  }

  .anotherspain__block {
    margin: 0 20%;
  }

  .TouristSay__decr__text {
    width: 600px;
    height: 290px;
    padding: 1% 1%;
  }

  .TouristSay__decr__picture {
    width: 400px;
    height: 290px;
  }

  .TouristSay__decr {
    width: 885px;
  }

  section.manual {
    padding: 0 5%;
  }
}
@media (max-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    opacity: 0.7;
  }

  .nav__toolbar {
    width: 70%;
  }

  .nav__title {
    margin-left: 5%;
  }

  li {
    margin-left: 4%;
  }

  .nav__toolbar {
    margin-left: 5%;
  }

  .smallpicture {
    margin-left: 25px;
  }

  .WhyChooseUs__decsr__title {
    margin-top: 134px;
  }

  .WhyChooseUs__decsr__subtitle {
    margin-top: 12px;
  }

  button.WhyChooseUs {
    margin-top: 27px;
  }

  .TouristSay__decr {
    width: 720px;
  }
}